[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/ale"]
	path = bundle/ale
    url = https://github.com/w0rp/ale
[submodule "bundle/vista.vim"]
	path = bundle/vista.vim
	url = https://github.com/liuchengxu/vista.vim.git
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/copilot.vim"]
	path = bundle/copilot.vim
	url = https://github.com/github/copilot.vim.git
    branch = release
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/LeaderF"]
	path = bundle/LeaderF
	url = https://github.com/Yggdroot/LeaderF
