[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/ale"]
	path = bundle/ale
    url = https://github.com/w0rp/ale
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop
[submodule "bundle/kotlin-vim"]
	path = bundle/kotlin-vim
	url = git://github.com/udalov/kotlin-vim
